.item:hover {
  transform: scale(1.3);
  transition: 0.3s;

}

.card {
  margin: 10px;
  transition: 0.3s;
  border: none;

  &:hover {
    transform: scale(1.06);
    transition: 0.3s;
  }

  p {
    font-weight: 300;
  }
}

.item__btn {
  font-size: 25px;

  &:hover {
    font-weight: bold;

  }

}

.width80 {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
}