.carrousel-img {
  height: 700px;

}

.banner-container {
  margin: 0;
  padding: 0;

  img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    width: auto;
    opacity: 0.8;

  }


}


@media (max-width: 767px) {
  .footer-social li {
    margin: 20px;

  }

}

@mixin subrayar($color, $style) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-style: $style;
}

footer div a {
  @include subrayar($color-hover, wavy)
}