ul {
  display: flex;

  li {
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 120px 0px 80px;
    transition: 0.3s;

    a:hover {
      color: $color-hover;
    }

    &:hover {
      transform: scale(1.3);
      transition: 0.3s;

    }

  }

}