/* PRODUCTO */

.product__img {
  margin-top: 50px;
}

.cardTittleProduct {
  font-size: 50px;
}

.card-price {
  font-size: 35px;
  margin: 15px 0 15px 0;

}

.card-text {
  font-size: 18px;

}

.radio__button {
  margin: 10px;
}