* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color: $color-primary;
  color: $color-dark;

}

body {
  background-color: $color-primary;
}

h1 {
  margin: 60px 0 60px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  span {
    color: $color-secundary;
  }

  span:hover {
    color: $color-hover;
  }

}

ul {
  display: flex;

  li {
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 120px 0px 80px;
    transition: 0.3s;

    a:hover {
      color: $color-hover;
    }

    &:hover {
      transform: scale(1.3);
      transition: 0.3s;

    }

  }

}

a {
  text-decoration: none;
  color: $color-dark;
}