@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "colors";
@import "globals";
@import "product";
@import "aboutus";



.carrousel-img {
  height: 700px;

}


.item:hover {
  transform: scale(1.3);
  transition: 0.3s;

}

.card {
  margin: 10px;
  transition: 0.3s;
  border: none;

  &:hover {
    transform: scale(1.06);
    transition: 0.3s;
  }

  p {
    font-weight: 300;
  }
}

.item__btn {
  font-size: 25px;

  &:hover {
    font-weight: bold;

  }

}

.width80 {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
}



/* EXTRA */


.banner-container {
  margin: 0;
  padding: 0;

  img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    width: auto;
    opacity: 0.8;

  }


}



@media (max-width: 767px) {
  .footer-social li {
    margin: 20px;

  }


}

@mixin subrayar($color, $style) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-style: $style;
}

footer div a {
  @include subrayar($color-hover, wavy)
}