@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


$color-primary: #fafafaea;
$color-secundary: #CC3F0C;
$color-hover: #cdb4db;
$color-dark: #232C33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color: $color-primary;
  color: $color-dark;

}


ul {
  display: flex;

  li {
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 120px 0px 80px;
    transition: 0.3s;

    a:hover {
      color: $color-hover;
    }
    
  }

  li:hover {
    transform: scale(1.3);
    transition: 0.3s;
    
  }

}


a {
  text-decoration: none;
  color: $color-dark;
}


.carrousel-img {
  height: 700px;

}


h1 {
  margin: 60px 0 60px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  span {
    color: $color-secundary;
  }

  span:hover {
    color: $color-hover;
  }

}


.item:hover {
  transform: scale(1.3);
  transition: 0.3s;

}

.card {
  margin: 10px;
  transition: 0.3s;
  border: none;
  
  p {
    font-weight: 300;
  }
}

.card-hover:hover {
  transform: scale(1.06);
  transition: 0.3s;
}


.item__btn {
  font-size: 25px;

}

.item__btn:hover {
  font-weight: bold;


}

.width80 {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
}



/* PRODUCTO */

.product__img {
  margin-top: 50px;
}

.cardTittleProduct {
  font-size: 50px;
}

.card-price {
  font-size: 35px;
  margin: 15px 0 15px 0;

}

.card-text {
  font-size: 18px;

}

.radio__button {
  margin: 10px;
}


/* EXTRA */


.banner-img {
  max-width: 100%;
  max-height: 600px;
  height: auto;
  width: auto;
  opacity: 0.8;


}

.banner-container {
  margin: 0;
  padding: 0;
}

.aboutUsImg {
  height: 100px;
  width: 100px;
}

.aboutUsImgSecure {
  height: 100px;
  width: 90px;

}

@media (max-width: 767px) {
  .footer-social li {
    margin: 20px;

  }


}