
// FUENTE MONTSERRAT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// COLORES
@import "/scss/colors";

// GLOBALES, MARGIN, PADDING, FONT-SIZE, BOX-SIZING, BACKGROUND-COLOR, H1, A
@import "/scss/globals";

// NAV Y FOOTER
@import "/scss/ul-li";

// CARDS
@import "/scss/cards";

// PAGINA DEL PRODUCTO
@import "/scss/product";

// ABOUT US
@import "/scss/aboutus";

// CAROUSEL, MEDIA QUERIES, MIXIN
@import "/scss/extra";









