@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fafafaea;

}





body {
    background-color: #fafafaea;
    font-size: 1em;

}

ul {
    display: flex;


}

li {
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 120px 0px 80px;
    transition: 0.3s;
}



li:hover {
    color: #cdb4db;
    transform: scale(1.3);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #232C33;


}


.carrousel-img {
    height: 700px;



}



h1 {
    margin: 60px 0 60px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

}

/* span {
    color: #CC3F0C;
}

span:hover {
    color: #cdb4db;
} */







.item__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    /* margin: 80px 80px 40px 80px; */
    /* background-color: #F8F0FB; */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;

}

.item:hover {
    transform: scale(1.3);
    transition: 0.3s;

}

.card {
    margin: 10px;
    transition: 0.3s;
    border: none;
}

.card-hover:hover {
    transform: scale(1.06);
    transition: 0.3s;
}


.item__img {
    width: 300px
}

.item__nombre {
    font-size: 40px;
    color: #F374AE;
    margin: 10px;
}

.item__precio {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item__btn {
    font-size: 25px;
    

}

.item__btn:hover {
    font-weight: bold;
    
    
}

.width80 {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 100px;
}



/* PRODUCTO */

.product__img {
    margin-top: 50px;
}

.cardTittleProduct {
    font-size: 50px;
}

.card-price {
    font-size: 35px;
    margin: 15px 0 15px 0;

}

.card-text {
    font-size: 18px;

}

.radio__button {
    margin: 10px;
}


/* EXTRA */


.banner-img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    width: auto;
    opacity: 0.8;


}

.banner-container {
    margin: 0;
    padding: 0;
}

.aboutUsImg {
    height: 100px;
    width: 100px;
}

.aboutUsImgSecure {
    height: 100px;
    width: 90px;

}

@media (max-width: 767px) {
    .footer-social li{
        margin: 20px;
        
    }


}