@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    
}





body {
    background-color: #fafafaea;
    font-size: 1em;
}

ul {
    display: flex;
    
    
}

li {
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 120px 0px 80px;
    transition: 0.3s;
}
    
    

li:hover {
    color: #cdb4db;
    transform: scale(1.3);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #232C33;
    
    
}




h1 {
    margin: 60px 0 60px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
}

span {
    color: #CC3F0C;
}

span:hover {
    color: #cdb4db;
}





footer {
    margin-top: 20px;
    text-align: center;
    
}



.item__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.item {
    /* margin: 80px 80px 40px 80px; */
    /* background-color: #F8F0FB; */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    
}

.item:hover {
    transform: scale(1.3);
    transition: 0.3s;
    
}

.card {
    margin: 10px;
    transition: 0.3s;
    border: none;
}

.card-hover:hover {
    transform: scale(1.06);
    transition: 0.3s;
}


.item__img {
    width: 300px
}

.item__nombre {
    font-size: 40px;
    color: #F374AE;
    margin: 10px;
}

.item__precio {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item__btn {
    font-size: 25px;
    color: #CC3F0C;
    font-weight: bold;
    
}

.item__btn:hover {
    color: #cc3f0ccc;
} 

/* .container > * {
    padding: 20px;
    border: 1px solid 
} */

/* .header {
    grid-area: header;
    padding: 20px;
}

.content {
    grid-area: content;
}



.footer {
    grid-area: footer;
    padding: 20px;
}

.container {
    display: grid;
    grid-gap: 10px;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer"                    ;
} */

/* @media (min-width: 1173px) {
    .item__container {
        width: 80%;
        margin: 0 auto;
    }
    .item__nombre {
        font-size: 30px;
    }
    .item__precio {
        font-size: 30px;    
    }
    .item__btn {
        font-size: 18px;
    }

    .item__img {
        width: 240px
    }

    .logo {
        display: block;
    }
   
} */

 /* PRODUCTO */


     .product {
        display: flex;
       
       
    } 

    .header-product {
        padding: 20px;
    }
     
    .product__img {
        height: 700px;
        margin: 80px 0 80px 0;
        
    }
    
    
    .product__talle {
        font-size: 40px;
        padding: 15px;
        margin: 5px;
     
    }
    
    
    
    .product__descripcion {
        text-align: center;
        margin: 300px 200px 0px 200px;
        height: 300px;
    
       
        
    }
    
    .product__titulo {
        font-size: 30px;
        font-weight: 500;
        
        
    }
    
    .product__precio {
        font-size: 50px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    .product__texto {
        margin: 30px 20px 50px 20px;
    }
    
    .product__btn {
        font-size: 30px;
        text-align: center;
        padding: 5px;
        
        
    } 

    .footer-product {
        padding: 15px;
    }

  @media (max-width: 1000px) {

      .product {
          flex-direction: column;
      }
      
      .product__descripcion {
          margin: 0;
         
      }

    .product__precio {
        font-size: 50px;
    }
    
    .product__titulo {
        font-size: 40px;
        margin-bottom: 30px;
    }
    

    
    .product__texto {

        display: none;
    }

    
    .product__btn {
        font-size: 30px;
    } 

      .product__img {
        height: 700px;
        width: 700px;
        margin: 0;
        
    }

    .footer-product {
        display: none;
    }

    

    }
    
  
